* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    text-align: left;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid #eee;
}

tfoot td,
table th {
    background: #eee;
}

.reponsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6rem;
}

.main-bg {
    background-image: url(../img/main-bg-1.svg);
    background-size: cover;
    background-position: center center;
    color: white;
}

.section {
    min-height: 100vh;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding-top: 0;
    padding-bottom: 0;
    color: #0A1822;
    z-index: 1;
    border-bottom: 0.1rem solid #eee;
}

.menu h1 a {
    color: inherit;
    font-size: 2rem;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 3rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    color: #0A1822;
    position: relative;
    font-size: 1.6rem;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    padding-top: 4.2rem;
}

.intro-content {
    top: -2rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    min-height: 100vh;
}

.intro-content-text,
.image-bg {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-content-text h1 {
    font-size: 5.5rem;
    margin-bottom: 3rem;
}

.intro-content-text p {
    line-height: 2.5rem;
}

.image-bg img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top3-content h1 {
    font-size: 5.5rem;
    margin-bottom: 3rem;
}

.top3-content p {
    margin-bottom: 2.5rem;
    line-height: 2.5rem;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.main-heading {
    font-size: 5.5rem;
    padding-bottom: -1rem;
}

.main-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    counter-reset: grid-counter;
}

.grid h3 {
    position: relative;
    font-size: 2.5rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.main-gallery {
    font-size: 5.5rem;
    padding-bottom: 3rem;
}

.grid-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.main-gallery {
    padding-bottom: 0;
}

.gallery-description {
    padding-bottom: 5rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    font-size: 1.6rem;
    border: none;
    background: white;
    padding: 1.5rem 2rem;
    width: 100%;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1rem 0.1rem crimson;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: white;
    color: #0A1822;
}

.form-group ::placeholder {
    color: #ccc;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: #0A1822;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.heart {
    color: crimson;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0A1822;
    transform: rotate(-90deg);
    font-size: 2rem;
    border: 0.1rem solid #0A1822;
}

@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .grid-gallery {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-template-columns: 1fr;
    }

    .grid-gallery img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: "☰";
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background: #0A1822;
        color: white;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: "×";
    }

    .menu-spacing {
        display: none;
    }
}